section{
	background-color:rgba(30,30,30,0.15);
	margin-top: 15px;
	padding: 10px 20px 10px 20px;
	font-size: 18px;
	box-shadow: -7px 7px 5px 0 #333333;
	text-align: center; 
	width:80%; 
}
section h2{
	text-align: left; /* on aligne a gauvhe les h2*/
}
section p{ /* on justify les paragraphe*/
	text-align: justify;
}
section ul{
	text-align: left; 
	padding-left: 30px;
}
section li{
	list-style-type: square;
}
section em{
	text-decoration: underline;
}
/* les images d'en haut*/
#sample{
	width: 100%;
	display:flex;
	justify-content: center;
	align-items: center;
	
	height: 250px; /* la taille des images */
	flex-wrap: wrap; /* on les fait revenir a la ligne quand y'en a trop*/
	overflow: hidden; /* et on cache des autres lignes */
}
#sample img{
	height: 250px; 
}