#auteurs{

	width: 100%;
	display: flex;
	justify-content: space-around;
}
article{
	background:rgba(120,120,120,0.2);
	width:45%;
	display: flex;

}
article ul{
	
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
article div{
	flex-grow:1;
	padding:5px;
}
article div img{
	width:100%;
	height: 100%;
}
#auteurs article ul{
	display: flex;
	flex-direction: column;
	
}
#ben ul {
	align-items: flex-end;
}
#alex ul {
	align-items: flex-start;
}