#formulaire:target{ /* afficher le formulaire si il est demandé dans l'url */
	width:100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#formulaire{
	display: none;
}
form{
	background-color:rgba(130,130,130,0.4);
	margin-top: 0;
	padding: 10px 20px 10px 20px;
	width: 80%;
	box-shadow: -5px 5px 5px 0 #333333;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center
}
form > div{ /* les div directement enfant de form*/
	width: 100%;
	margin-top: 10px;
	display: flex;
	justify-content:  center;
	align-items: center;
}

#mail{
	border: none;
	border-radius: 2px;
	width:150px;
	margin-left: 20px;
}
textarea{
	width:100%;
	height:100px;
}

#message{
	display: none;
}
#message:target{ /* affiché le message si il est demandé dans l'url*/
	display:block;
}
#message p{
	margin:10px;
}
