article{
	width:250px;
	height:300px;
	margin: 20px;
	background-color: white;
	border: 1px solid gray;
	color: #5F5F5F;
	transition: width 0.5s,height 0.5s,box-shadow 0.5s, margin 0.5s; 

}
article:hover{
	width:260px; /*on agrandit un peu l'article*/
	height:310px;
	margin:15px; /* mais on reduit ses marges pour pas bouger le reste*/
	box-shadow: -10px 7px 5px 0 #333333;


}
article:hover > div{
	background-color: rgba(250,250,250,0.9);/* on change un peu le fond du bandeau*/
}

article div{
	height: 90px;

	position: relative; /* etre sur l'image*/
	z-index: 2; /* pour etre en dessous du nav*/
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: rgba(255,255,255,0.8);
	top:-140px;
	padding:5px;
	transition: background-color 0.5s;
}

article img{
	width:100%;
	height:100%;
}
article div h2{
	font-size: 20px;
	margin: 0;

}
article div p{
	font-size: 16px;
	margin: 0;

}
article div h2 img{
	width:25px;
	height:25px;
	vertical-align: middle;

}


#projects > div{
	display: flex;
	justify-content: center;
	align-content: space-between;
	
	flex-wrap: wrap;
}
#projects a{
	text-decoration: none;
}
#projects{
	width: 100%;
	display: flex;
	justify-content: center;
	align-content: space-between;
	flex-wrap: wrap;
}