body{
	margin:0px; /* enlever marge par default */
	font-family: arial;
	background-color: #DDDDDD;
	background: url("../images/patern.png");
	background-size: 150px; /* gerer la taille du patern */
	min-width: 250px; /* ne pas permetre une reduction du contenu plus petite que 250px */
	width:100%; /* prendre toute la largeur */
}

/* ====== HEADER ======= */
nav{
	position: fixed; /* permet de faire suivre le menu quand on scroll */
	z-index: 10; /* faire en sorte que le menu soit toujours au premier plan */
	top:0; /* 0px a partir du haut de la page */
	
	width: 100%; /* toute la largeur */
	height: 50px; 

	display: flex; /* flexbox pour avoir un centrage parfait */
	justify-content: center;
	align-items: center;
	
	background: url("../images/iso.png");
	background-size: 30px; /* gerer la taille du patern*/ 
	opacity: 0.9; /* un peu transparent */
}

nav ul{
	display: flex; 
	
	align-items: center; /* centre verticalement*/
	justify-content: center; /* centre horizontalement */

	height: 100%; /* toute la auteur pour que le :hover soit jolie*/
	padding: 0; /* on enleve le padding par default */
	list-style: none; /* on enleve les puce */
	
}
nav li{

	margin: 0px; /* pas de marge pour que le :hover soit joli */
	padding: 10px; /* juste le padding */
	padding-left: 20px;
	padding-right:20px;

	transition: background-color 0.5s; /* transition sur background pour le :hover */

}
nav li a{
	font-size: 20px;
	color: white;
	text-decoration: none; /* on enleve le underline */
	transition: font-size 0.5s; /* pour le :hover */
}
nav li:hover > a{
	font-size: 22px; /* on grossi la police au survol */
	
}
nav li:hover{
	background-color: rgba(255,255,255,0.1); /* on eclairci le bacground au survol */
}

/* ======= CONTENU ====== */


main{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 60px;
}
h1{
	max-width: 80%;
	background-color:rgba(30,30,30,0.15);
	margin-top: 0;
	padding: 10px 20px 10px 20px;
	font-size: 30px;
	box-shadow: -10px 10px 5px 0 #333333; /* des petites ombres sympa */
	text-align: center;
	
}



/* ======= FOOTER ======= */
footer{
	margin-top: 10px;
	padding: 5px;

	background-color: gray;
	display: flex;
	
	justify-content: space-around;
	color: white;
	font-size: 14px;
	background: url("../images/iso.png");
	background-size: 30px;
}
footer li{
	margin-left:5px;
	margin-right:5px;
}
footer p{
	text-align: center;
}
footer a{
	color:white;
}
footer img{
	max-width: 220px;
	height:80px;

}

footer ul{
	margin-bottom: 10px;
	list-style-type: none;
}

#credit {
	display: flex;
	flex-direction: column;
	justify-content: center;

}
#valid{
	display: flex;
	justify-content: flex-end; /* on pouse a droite les images */
	height: 100%;
}
#cadre{
	font-size: 12px
}
.footside{
	width:250px;
}
.footside img:first-child {
	margin-right: 10px; /* on espace un peu les deux images */ 
}


@media screen and (max-width: 850px) { /* premier breakpoint */
	footer{ /* on passe le footer en colonnes centrés*/
		flex-direction: column;
		align-items: center;
	}
	#valid{ /* on centre les images*/
		justify-content: center;
	}

}
@media screen and (max-width: 480px) { /* deuxieme breakpoint */
	
	nav{ /* on va passe le menu en colonnes et le laisser en haut de la page */
		position: static; 
		height:180px;
	}
	nav ul{
		flex-direction: column;
		width: 100%;
	}
	nav li{
		width: 100%;
		margin: 0px;
		padding-right: 0px;
		padding-left: 0px;
		text-align: center;
		border-bottom: 1px solid dimgray; /* bordur en bas de separtion*/
	}
	nav li:last-child{
		border:none; /* on enleve la derniere bordure ne bas inutile*/ 
	}
	main{
		/* on passe la marge a une valeur normal car plus besoin de prendre en compte le nav qui suivait le scroll*/
		margin-top: 10px;
	}
}
@media screen and (max-width: 370px){ /* dernier breakpoint */
	footer ul{
		flex-direction: column; /* on reduit encore le footer */
	}
	#cadre{ /* on cache la phrase */
		display: none;
	}
}


