body{
	margin:0px;
	font-family: arial;
	background-color: #DDDDDD;
	background: url("../images/patern.png");
	background-size: 150px;
	min-width: 250px;
	width:100%;

}
nav{
	position: fixed;
	z-index: 10;
	top:0;
	width: 100%;
	display: flex;
	height: 50px;
	/*
	background-color: rgba(128,128,128,0.9);
	/**/
	background: url("../images/iso.png");
	background-size: 30px;
	opacity: 0.9;
}

ul{
	margin: auto;
	display: flex;
	
	list-style: none;
	align-items: center;
	justify-content: center;
	padding: 0;
	
}
nav ul{
	height: 100%;
	align-self: center;
}
nav li{
	margin: 0px;
	padding: 10px;
	padding-left: 20px;
	padding-right:20px;
	transition: background-color 0.5s;

}
nav li a{
	font-size: 20px;
	color: white;
	text-decoration: none;
	transition: font-size 0.5s;
}
nav li:hover > a{
	font-size: 22px;
	
}
nav li:hover{
	background-color: rgba(255,255,255,0.1);
}

main{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 60px;
}
h1{
	max-width: 80%;
	background-color:rgba(30,30,30,0.15);
	margin-top: 0;
	padding: 10px 20px 10px 20px;
	font-size: 30px;
	box-shadow: -10px 10px 5px 0 #333333;
	text-align: center;
	
}

footer{
	margin-top: 10px;
	padding: 5px;

	background-color: gray;
	display: flex;
	
	justify-content: space-around;
	color: white;
	font-size: 14px;
	background: url("../images/iso.png");
	background-size: 30px;
}
footer li{
	margin-left:5px;
	margin-right:5px;
}
footer p{
	text-align: center;
}
footer a{
	color:white;
}
footer img{
	max-width: 220px;
	height:80px;

}

footer ul{
	margin-bottom: 10px;
}

#credit {
	display: flex;
	flex-direction: column;
	justify-content: center;

}
#valid{
	display: flex;
	justify-content: flex-end;

}
#valid{
	height: 100%;
}
#cadre{
	font-size: 12px
}
.footside{
	width:250px;
}
.footside img:first-child {
	margin-right: 10px;
}


@media screen and (max-width: 850px) {
	footer{
		flex-direction: column;
		align-items: center;
	}
	#valid{
		display: flex;
		justify-content: center;
	}

}
@media screen and (max-width: 480px) {
	@-ms-viewport { 
    	width: 300px; 
	}
	nav{
		position: static;
		height:180px;
	}
	nav ul{
		
		flex-direction: column;
		align-items: center;
		width: 100%;

	}
	nav li{
		width: 100%;
		margin: 0px;
		padding-right: 0px;
		padding-left: 0px;
		text-align: center;
		border-bottom: 1px solid dimgray;
	}
	nav li:last-child{
		border:none;
	}
	main{
		margin-top: 10px;
	}
}
@media screen and (max-width: 370px){
	footer ul{
		flex-direction: column;
	}
	#cadre{
		display: none;
	}
}


