section{
	background-color:rgba(30,30,30,0.15);
	margin-top: 15px;
	padding: 10px 20px 10px 20px;
	font-size: 18px;
	box-shadow: -7px 7px 5px 0 #333333;
	text-align: center;
	width:80%;
}
section h2{
	text-align: left;
}
section p{
	text-align: justify;
}
section ul{
	text-align: left;
	padding-left: 30px;
}
section li{
	list-style-type: square;
}
section em{
	text-decoration: underline;
}
form textarea{
	width: 80%;
	margin-top: 10px;
}
section form{
	width: 100%; 
	display: flex;
	flex-direction: column;
	align-items: center;
}
form > div {
	width: 100%;
} 
form div input{
	max-width: 100%; /* pour pas que ca deborde :)*/ 

}